canvas
{
    border: 0px solid black;
    background-image: url("frame1.jpg");
    background-size: cover;
}
button
{
height: 45;
width: 500;
border-radius: 5cm;
font-family: 'Solway', serif;
font-size: large;
background-color: rgba(255, 255, 255, 0.823);
}
body
{
    background-image: url("background.webp");
    background-size: cover;
    color: white;
    font-family: 'Noto Serif Khojki', serif;
}
